<div class="container text-center d-flex align-items-center justify-content-center" style="height: 80vh">
  <div class="row">
    <div class="col-md">
      <img src="img/profile.png" alt="Gharis P. Hariyono's profile picture" class="img-thumbnail rounded-circle" width="200" />
      <h1 class="display-4">Gharis P. Hariyono</h1>
      <p class="lead">Backend Engineer | Information System Student</p>
      <a href="mailto:hariyonogharis@gmail.com" class="btn btn-success"><i class="bi bi-envelope-fill"></i> Email</a>
      <a href="https://github.com/primidi" class="btn btn-dark" target="_blank"><i class="bi bi-github"></i> GitHub</a>
      <a href="https://linkedin.com/in/gphariyono" class="btn btn-primary" target="_blank"><i class="bi bi-linkedin"></i> Linkedin</a>
    </div>
  </div>
</div>
