<div class="container text-center d-flex align-items-center justify-content-center" style="height: 80vh">
  <div class="row">
    <div class="col-md-12">
      <h1 class="display-4"><strong class="text-success">To Do List</strong> App</h1>
      <p class="lead">By <%= creator %></p>
    </div>
    <div class="col-md">
      <a href="/todos" class="btn btn-success mb-1"><i class="bi bi-list-task"></i> Go To Todos Page</a>
      <a href="https://github.com/primidi/todo-app" class="btn btn-dark mb-1" target="_blank"><i class="bi bi-github"></i> Visit Repository</a>
      <a href="/about" class="btn btn-outline-success mb-1"><i class="bi bi-person-lines-fill"></i> About Creator</a>
    </div>
  </div>
</div>
