<div class="container d-flex align-items-center" style="height: 80vh">
  <div class="row">
    <div class="col-md">
      <h1 class="display-4"><strong class="text-success">To Do List</strong> App</h1>
      <p class="lead">By <%= creator %></p>
      <a href="/todos" class="btn btn-success"><i class="bi bi-list-task"></i> Go To Todos Page</a>
      <a href="https://github.com/primidi" class="btn btn-dark" target="_blank"><i class="bi bi-github"></i> Visit Repository</a>
      <a href="/about" class="btn btn-outline-success"><i class="bi bi-person-lines-fill"></i> About Creator</a>
    </div>
  </div>
</div>
